# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.pyc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Makefile objects
*.d

# Eclipse project files and directories
.project
.cproject
.settings
language.settings.xml
*.launch

# Other
*.pdf
*.rhistory
Makefile.mine

# mbed object files and libraries should be versioned
!board/lpc1768/TARGET_LPC1768/TOOLCHAIN_GCC_ARM/*.o
!board/lpc1768/TARGET_LPC1768/TOOLCHAIN_GCC_ARM/*.a
!board/frdm-k64f/TARGET_K64F/TOOLCHAIN_GCC_ARM/*.o
!board/frdm-k64f/TARGET_K64F/TOOLCHAIN_GCC_ARM/*.a

doxygen/**
!doxygen/.keep

# lm3s6965evb compiled binaries
!board/lm3s6965evb/drivers/arm-none-eabi-gcc/libdriver.a
!board/lm3s6965evb/drivers/arm-none-eabi-gcc/libgr.a
